:root {
  /* Generics */
  --red: rgb(255, 62, 0);
  --selected: rgba(0, 184, 255, 0.28);
  --border: #eee;
  --white: #fff;
  --hover: rgba(51, 51, 51, 0.15);
  /* Text */
  --text-primary: #333;
  /* spacing */
  --site-sidebar-width: 300px;
  --site-header-height: 60px;
}

* {
  box-sizing: border-box;
}

html,
body,
#sapper {
  height: 100%;
}

body {
  margin: 0;
  /* Slight variation of system font stack with support for Emojis */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 1.5;
  color: var(--text-primary);
}

code,
pre {
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    "Courier New", Courier, monospace;
}

#sapper {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}
